.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.body-class{
    padding: 16px;
}

.cards-elements{
    padding: 16px;
}

.time-line-none{
	display: none;
}

.card-muted-white{
	color: antiquewhite
}

.bg-orange {
	background-color: #fc4119 !important;
  }

.bg-green-lime {
background-color: #d5e203 !important;
}

.bg-blue{
	background-color: #04f0b0 !important;
}

.bg-red{
	background-color: #fb0404 !important;
}

.bg-grey{
	background-color: #6c757d !important;
}

.bg-blue{
	background-color: #007bff !important;
}

.bg-navbar{
	background-color:#6610f2 !important;
}

.bg-green{
	background-color:#28a745 !important;
}

.div-middle-left{
	width: 30%;
	height: 100vh;
	padding: 20px;
	float: left;
}

.div-middle-right {
	height: 100vh;
	width: 70%;
	padding: 20px;
	float: right;
  }